.container-fluid
  .row-fluid
    %h1 Teams
    %h3= link_to 'Create New', new_team_path
    #athletebox.span10
      %table
        %tr
          %th Name
          %th User
          %th
          %th Actions
          %th

        - @teams.each do |team|
          %tr
            %td= team.name
            %td= team.user
            %td= link_to 'Show', team
            %td= link_to 'Edit', edit_team_path(team)
            %td= link_to 'Destroy', team, :confirm => 'Are you sure?', :method => :delete

  %br


