%h1 Listing sessions

%table
  %tr
    %th Trainingday
    %th Template
    %th User
    %th Comments
    %th
    %th
    %th

  - @sessions.each do |session|
    %tr
      %td= session.trainingday
      %td= session.template
      %td= session.user
      %td= session.comments
      %td= link_to 'Show', session
      %td= link_to 'Edit', edit_session_path(session)
      %td= link_to 'Destroy', session, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Session', new_session_path
