%h1 Listing templates

%table
  %tr
    %th Name
    %th Unit
    %th Sets
    %th Reps
    %th Interval
    %th Category
    %th
    %th
    %th

  - @templates.each do |template|
    %tr
      %td= template.name
      %td= template.unit
      %td= template.sets
      %td= template.reps
      %td= template.interval
      %td= template.category
      %td= link_to 'Show', template
      %td= link_to 'Edit', edit_template_path(template)
      %td= link_to 'Destroy', template, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Template', new_template_path
