%p#notice= notice

%h1
  %b 
  = @template.name
%h4
  = link_to 'Edit', edit_template_path(@template)
  \|
  = link_to 'Return', templates_path
%p
%p
  %b Unit:
  = @template.unit
%p
  %b Sets:
  = @template.sets
%p
  %b Reps:
  = @template.reps
%p
  %b Interval:
  = @template.interval
%p
  %b Category:
  = @template.category.name

