- @myathletes = current_user.my_athletes
- if !@myathletes.nil?
  %h1   Athletes
  %table{:id => "sortable", :class => "zebra-striped tablesorter"}
    %tr
      %th Last
      %th First
      %th Email Address
      %th Teams
      %th View
      %th
   
    %tbody
      - @myathletes.each do |athlete|
        %tr
          %td= athlete.last
          %td= athlete.first
          %td= athlete.email
          %td
            - athlete.teams.each do |team|
              = team.name 
              ,
          %td= link_to 'Profile', "/users/profile/#{athlete.id}"
          %td= link_to 'Performance', "/performances/athlete_sessions/#{athlete.id}"
