.container-fluid
  .row-fluid
    #leftpane.span3
      #subnav
        %ul.subtab
          %li= link_to 'Create Athlete', 'create_athlete'
          %li#current.active= link_to 'Create Team', 'create_team'
      .brownbox
        =form_for(@athlete, :as => 'user', :url => 'create_team', :html => {:class=>"form-stacked"}) do |f|
          -if @athlete.errors.any?
            #error_explanation
              %h2= "#{pluralize(@athlete.errors.count, "error")} prohibited this batch from being saved:"
              - @athlete.errors.full_messages.each do |msg|
                %ul
                  %li= msg
          %h2 Create Athlete
          %hr
          .field
            = f.label :name
            = f.text_field :email
          .actions
            = f.submit "Add Team", :class=> 'button-gray'
    
    #athletebox.span9
      %h2
        Walk Team 
        = link_to '(Edit)', '/users/edit_team'
      %table{:id => "sortable", :class => "zebra-striped tablesorter"}
        %tr
          %th Last
          %th First
          %th{:colspan => 3} Action
        %tbody
          %tr
            %td Einstein
            %td Albert
            %td Remove
          %tr
            %td Maxwel
            %td James
            %td Remove
          %tr
            %td Newton
            %td Isaac
            %td Remove
          %tr
            %td Darwin
            %td Charles
            %td Remove
            
      %h2 
        Sprint Team A
        = link_to '(Edit)', '#'
      %table{:id => "sortable", :class => "zebra-striped tablesorter"}
        %tr
          %th Last
          %th First
          %th{:colspan => 3} Action
        %tbody
          %tr
            %td Tesla
            %td Nikola
            %td Remove
          %tr
            %td Descartes
            %td Rene
            %td Remove
          %tr
            %td Curie
            %td Marie
            %td Remove
      %h2 
        Sprint Team B
        = link_to '(Edit)', '#'

    #a{:style=>"clear:both"}
