<div class="center">
<h1 style="text-align: center; color: #777; font-size: 40px; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);">R.U.N.</h1>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class=>"form-stacked"}) do |f| %>
  <%= devise_error_messages! %>
  <br>
  <div>
  <%= f.email_field :email, :placeholder => 'email' %></div>

  <div>
  <%= f.password_field :password, :placeholder => 'password' %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me%><b>Remember me</b></div>
  <% end -%>
<br>
  <%= f.submit "Sign in", :class=>'button-gray'%></div>
<% end %>
<hr>
<div class="center">
  <%= render :partial => "devise/shared/links" %>
</div>











<div class="center">
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class=>"form-stacked"}) do |f| %>
  <%= devise_error_messages! %>
  <div><br />
  <%- if user_signed_in? && current_user.is_coach %>
    <h2>Create Athlete</h2>
    <hr>
      <%= f.hidden_field :coach_id, :value => current_user.id %>
      <%= f.hidden_field(:is_athlete, :value => TRUE)%>
      <%= f.hidden_field(:is_coach, :value => FALSE)%>
  <%- elsif params[:type] == 'athlete'%>
    <h2>Sign up as athlete</h2>
    <%= f.label :Choose_Coach %>
    <%= collection_select :user, :coach_id, User.coaches, :id, :email %>
    <%= f.hidden_field(:is_athlete, :value => TRUE) %>
    <%= f.hidden_field(:is_coach, :value => FALSE) %>
  <%- else %>
    <h2>Sign up as coach</h2>
  <%end%>  
  </div>
  <div>
  <%= f.text_field :first , :placeholder => 'first name' %></div>
  <div>
  <%= f.text_field :last, :placeholder => 'last name'  %></div>
  <div>
  <%= f.email_field :email, :placeholder => 'email' %></div>

  <div>
  <%= f.password_field :password, :placeholder => 'password' %></div>

  <div>
  <%= f.password_field :password_confirmation, :placeholder => 'confirm password' %></div>
  <br>
  <div><%= f.submit "Sign up", :class=> 'button-gray' %></div>
  <hr>
    <%- if !user_signed_in?%>
      <%= render :partial => "devise/shared/links" %>
    <%end%>
  </div>

<% end %>
