<div class="center">
<h1 style="text-align: center; color: #777; font-size: 40px; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);">R.U.N.</h1>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class=>"form-stacked"}) do |f| %>
  <br>
  <div>
  <%= f.email_field :email, :placeholder => 'email' %></div>

  <div>
  <%= f.password_field :password, :placeholder => 'password' %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me%><b>Remember me</b></div>
  <% end -%>
<br>
  <%= f.submit "Sign in", :class=>'button-gray'%></div>
<% end %>
<hr>
<div class="center">
  <%= render :partial => "devise/shared/links" %>
  <%= link_to "Request account as athlete", "/users/request"%>
</div>

