.container-fluid
  .row-fluid
    #leftpane.span3
      #subnav
        %ul.subtab
          %li#current.active= link_to 'Athlete', 'create_athlete'
          %li= link_to 'Team', '/teams/new'
      .brownbox
        = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class=>"form-stacked"}) do |f|
          %h2 Create Athlete
          %hr
            = f.hidden_field :coach_id, :value => current_user.id
            = f.hidden_field(:is_athlete, :value => TRUE)
            = f.hidden_field(:is_coach, :value => FALSE)
          .field
            = f.label :email
            = f.email_field :email
          .field
            = f.label :password
            = f.password_field :password
          .field
            = f.label :password_confirmation
            = f.password_field :password_confirmation
          %br
          .actions
            = f.submit "Add Athlete", :class=> 'button-gray'
    
    #athletebox.span9
      = render :partial => "/users/my_athletes"
    #a{:style=>"clear:both"}
