<div class="center">
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class=>"form-stacked"}) do |f| %>
  <%= devise_error_messages! %>
  <h2>Sign up</h2>
  <div><br />
  <%- if params[:type] == 'athlete'%>
    <%= collection_select :user, :coach_id, User.coaches, :id, :email %>
    <%= f.hidden_field(:confirmed, :value => TRUE) %>
    <%= f.hidden_field(:is_athlete, :value => TRUE) %>
    <%= f.hidden_field(:is_coach, :value => FALSE) %>
  <%end%>  
  <%= f.email_field :email, :placeholder => 'email' %></div>

  <div><br />
  <%= f.password_field :password, :placeholder => 'password' %></div>

  <div><br />
  <%= f.password_field :password_confirmation, :placeholder => 'confirm password' %></div>
  <br>
  <div><%= f.submit "Sign up", :class=> 'button-gray' %></div>
  <hr>
    <%= render :partial => "devise/shared/links" %>
  </div>

<% end %>

