= form_for @session do |f|
  -if @session.errors.any?
    #error_explanation
      %h2= "#{pluralize(@session.errors.count, "error")} prohibited this session from being saved:"
      %ul
        - @session.errors.full_messages.each do |msg|
          %li= msg

  .field
    %b= f.label :Training_Day
    = f.text_field :trainingday, :id => 'datepicker'
  .field
    %b= f.label :Template
    = collection_select :tsession, :template_id, current_user.templates, :id, :name
  %br
  .field
    %b= f.label :Athletes
    = select_tag "athletes[]", options_from_collection_for_select(current_user.my_athletes, "id","email"), :multiple => true, :class =>"multiselect"
  %br
  .field
    %b= f.label :Comments
    = f.text_area :comments, :cols=>'30',:rows=>'10'
  .actions
    = f.submit 'Save'
