.container-fluid
  .row-fluid
    - if current_user.currently_coach
      %h1 Sessions
      %h4
        = link_to 'Create Session', new_tsession_path
        |
        %span#allhead{:style => "color: #01939A"}= ' All'
        |
        %span#donehead{:style => "color: #01939A"}= 'Done'
        |
        %span#pendinghead{:style => "color: #01939A"}= 'Pending'
      %br
      #all
        %table
          %tr
            %th Training Day
            %th Template
            %th User
            %th Comments
            %th 
            %th Actions
            %th

          - @templates.each do |t|
            - t.tsession.each do |session|
              %tr
                %td= session.trainingday
                %td= session.template.name
                %td= session.user.email
                %td= session.comments
                %td= link_to 'Show', session
                %td= link_to 'Edit', edit_tsession_path(session)
                - unless session.is_done?
                  %td= link_to 'Destroy', session, :confirm => 'Are you sure?', :method => :delete
      #done
        %table
          %tr
            %th Training Day
            %th Template
            %th User
            %th Comments
            %th Actions

          - @templates.each do |t|
            - t.tsession.done.each do |session|
              %tr
                %td= session.trainingday
                %td= session.template.name
                %td= session.user.email
                %td= session.comments
                %td= link_to 'Show', session
      #pending
        %table
          %tr
            %th Training Day
            %th Template
            %th User
            %th Comments
            %th Actions

          - @templates.each do |t|
            - t.tsession.pending.each do |session|
              %tr
                %td= session.trainingday
                %td= session.template.name
                %td= session.user.email
                %td= session.comments
                %td= link_to 'Show', session
  - if !current_user.currently_coach && current_user.is_athlete
    %h1 Pending Training Sessions
    - if !@pending.empty?
      %table{:id => "sortable", :class => "zebra-striped tablesorter"}
        %tr
          %th Date
          %th Training
          %th Unit
          %th Repetitions
          %th Sets
          %th Intervals (mins) 
          %th Comments          
          %th Action
        %tbody
          - @pending.each do |s|
            %tr
              %td= s.trainingday
              %td= s.template.name
              %td= s.template.unit
              %td= s.template.reps
              %td= s.template.sets
              %td= s.template.interval
              %td= s.comments
              - unless s.trainingday >  Date.today
                %td= link_to 'Update', "/tsessions/#{s.id}/edit_log"
    - else
      %br
      %p Currently, there are no pending logs.
    %br
#a{:style=>"clear:both"}
