%p#notice= notice



%h1= @session.trainingday
%h3= @session.user.email
%h4
  = link_to 'Edit', edit_tsession_path(@session)
  \|
  = link_to 'Back', tsessions_path
%br
%h4= @session.template.name
%p
  %br
  %b Unit:
  = @session.template.unit
  %br
  %b Sets:
  = @session.template.sets
  %br
  %b Repetitions:
  = @session.template.reps
  %br
  %b Intervals
  = @session.template.interval
%p
  %b Comments:
  = @session.comments
%br


