%h1 Performance
%br
.container-fluid
  .row-fluid
    #leftpane.span3
      - if !current_user.my_team.empty?
        .brownbox
          %h2 Team Performance
          - current_user.my_team.each do |t|
            %b
              %li= link_to t.name, "/performances/team_templates/#{t.id}"
    #athletebox.span9
      - if !@athletes.nil?
        %h2#athlete_performance_head Athletes Performance
        #athlete_performance
          %table
            %thead
              %th Email
              %th Name
              %th Action
            %tbody
              - @athletes.each do |a|
                %tr
                  %td= a.email
                  %td= a.fullname
                  - if !a.tsessions.done.empty?
                    %td= link_to 'view', "/performances/athlete_sessions/#{a.id}"
                  - else
                    %td No sessions found
