.header-inner
  = link_to image_tag('logos.png'), root_path
  .dash
    - if current_user.is_coach
      = image_tag('smiley.jpg', :style => 'width: 40px; height: 40px; vertical-align: middle;')
    -else
      = image_tag('hotsmiley.gif', :style => 'width: 40px; height: 40px; vertical-align: middle;')
    &nbsp;
    = link_to current_user.email, edit_user_registration_path
    = link_to '| Logout ', destroy_user_session_path, :method => :delete
    - if current_user.is_coach && current_user.is_athlete
      - if current_user.as_coach
        = link_to '| go athlete mode', '/users/switch'
      - else
        = link_to '| go coach mode', '/users/switch'
