.header-inner
  = link_to image_tag('logos.png'), root_path
  .dash
    -if @user.photo.exists? then
      = image_tag current_user.photo.url(:thumb), :width => 40
    &nbsp;
    = link_to current_user.email, edit_user_registration_path
    = link_to '| Logout ', destroy_user_session_path, :method => :delete
    - if current_user.is_coach && current_user.is_athlete
      - if current_user.as_coach
        = link_to '| go athlete mode', '/users/switch'
      - else
        = link_to '| go coach mode', '/users/switch'
