%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html' }
    %meta{ :name => 'robots', :content => 'index, follow' }
    %link{ :href => 'http://fonts.googleapis.com/css?family=PT+Sans', :rel => 'stylesheet', :type => 'text/css' }
    %title Run

    = stylesheet_link_tag "application", media: "screen"
    = javascript_include_tag "application"
    = csrf_meta_tags
    - if !current_user.currently_coach
      %script
        var coach = false
    - else
      %script
        var coach = true
  %body
    #wrap
      - if current_user.as_coach || (!current_user.is_athlete && current_user.is_coach)
        .header
          = render '/layouts/header'
      - else
        .header-athlete
          = render '/layouts/header'
      .container-fluid
        .row-fluid
          #sidepane.span2
            #navigation
              %ul.tab
                - if current_user.currently_coach
                  - if @title == "Template"
                    %li.active#current= link_to "Templates", '/templates'
                  - else
                    %li= link_to "Templates", '/templates'

                  - if @title == "Session"
                    %li.active#current= link_to "Sessions", '/tsessions'
                  - else
                    %li= link_to "Sessions", '/tsessions'

                  - if @title == "Athlete"
                    %li.active#current= link_to "Athletes", '/users/create_athlete'
                  - else
                    %li= link_to "Athletes", '/users/create_athlete'
                  - if @title == "Performance"
                    %li.active#current= link_to "Performance", '/performances/index'
                  - else
                    %li= link_to "Performance", '/performances/index'

                - else
                  - if @title == "Session"
                    %li.active-athlete#current-athlete= link_to "New Trainings", '/tsessions'
                  - else
                    %li= link_to "New Trainings", '/tsessions'
                  - if @title == "Performance"
                    %li.active-athlete#current-athlete= link_to "Performance", "/performances/athlete_sessions/#{current_user.id}"
                  - else
                    %li= link_to "Performance", "/performances/athlete_sessions/#{current_user.id}"
                - if @title == "Profile"
                  %li.active-athlete#current-athlete= link_to "Profile", "/users/profile/#{current_user.id}"
                - else
                  %li= link_to "Profile", "/users/profile/#{current_user.id}"
                - if @title == "Help"
                  %li.active-athlete#current-athlete= link_to "Help", '/users/help'
                -else
                  %li= link_to "Help", '/users/help'
          #main.span10
            #content
              = yield

