%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html' }
    %meta{ :name => 'robots', :content => 'index, follow' }
    %link{ :href => 'http://fonts.googleapis.com/css?family=PT+Sans', :rel => 'stylesheet', :type => 'text/css' }
    %title Run

    = stylesheet_link_tag "application", media: "screen"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    #wrap
      .header
        .header-inner
          = link_to image_tag('logos.png'), root_path
          .dash
            - if current_user.is_coach
              = image_tag('smiley.jpg', :style => 'width: 40px; height: 40px; vertical-align: middle;')
            -else
              = image_tag('hotsmiley.gif', :style => 'width: 40px; height: 40px; vertical-align: middle;')
            &nbsp;
            = link_to current_user.email, edit_user_registration_path
            = link_to '| Logout', destroy_user_session_path, :method => :delete

      .container-fluid
        .row-fluid
          #sidepane.span2
            #navigation
              %ul.tab
                - if current_user.is_coach
                  - if @title == "Template"
                    %li.active#current= link_to "Templates", '/users/view_template'
                  - else
                    %li= link_to "Templates", '/users/view_template'

                  - if @title == "Session"
                    %li.active#current= link_to "Sessions", '/users/create_session'
                  - else
                    %li= link_to "Sessions", '/users/create_session'

                  - if @title == "Athlete"
                    %li.active#current= link_to "Athletes", '/users/create_athlete'
                  - else
                    %li= link_to "Athletes", '/users/create_athlete'
                  - if @title == "Performance"
                    %li.active#current= link_to "Performance", '/users/performance_team'
                  - else
                    %li= link_to "Performance", '/users/performance_team'

                - else
                  - if @title == "Pending"
                    %li.active.athlete#current= link_to "New Trainings", '/users/pending'
                  - else
                    %li= link_to "New Trainings", '/users/pending'
                  - if @title == "Performance"
                    %li.active#current= link_to "Performance", '/users/athlete_overall'
                  - else
                    %li= link_to "Performance", '/users/athlete_overall'
                - if @title == "Profile"
                  %li.active#current= link_to "Profile", '/users/edit_profile'
                - else
                  %li= link_to "Profile", '/users/edit_profile'
                %li= link_to "Help", ''
          #main.span10
            #content
              = yield

