%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html' }
    %meta{ :name => 'robots', :content => 'index, follow' }
    %link{ :href => 'http://fonts.googleapis.com/css?family=Comfortaa|Convergence', :rel => 'stylesheet', :type => 'text/css' }

    = stylesheet_link_tag "application", :media => "screen"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
  
    - if user_signed_in?
      .header
        .header-inner
          .container-fluid
            = link_to image_tag('logos.png'), root_path
            = link_to current_user.email, edit_user_registration_path
            = link_to 'Logout', destroy_user_session_path, :method => :delete

      .container-fluid
        .row-fluid
          .span2{:id =>'sidepane'}
            #navigation
              %ul.tab
                %li.active{:id => 'current'}= link_to "Link", '#'
                %li= link_to "Link" , '#'
                %li= link_to "Link" , '#'
                %li= link_to "Link" , '#'                
          #main.span10
            #content
              = yield
    - else
      .header-landing 
      .container-fluid
        .row-fluid
          .container_16{:id => 'landing'}
            .grid_8
              =image_tag('emblem.png', :class => 'emblem')
            .grid_8{:id => 'landing-right'}
              =yield
            .clear
    %footer
      %p &copy; Cola, Loyola, Pineda, Santos
