%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html' }
    %meta{ :name => 'robots', :content => 'index, follow' }
    %link{ :href => 'http://fonts.googleapis.com/css?family=PT+Sans', :rel => 'stylesheet', :type => 'text/css' }
    %script{ :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'}
    %title RUN: Runner's Ultimate Notebook

    = stylesheet_link_tag "landing", media: "screen"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .header-landing
      .header-inner
        = link_to image_tag('logost.png'), root_path
    .container-fluid
      .row-fluid{:style => "margin: 0 auto"}
        #slider{:style => "margin: 0 auto"}
          %ol
            %li{:name => "index"}
              %h2
                %span
                  Are you in?
              %div
                .grid_8
                  = image_tag 'emblem.png', class: 'emblem'
                #landing-right.grid_9
                  %font{ :size => 5, :color => '#998877' }
                    %i
                      What is RUN?
                  %br
                  Run is an athlete management application.
                  
            %li{:name => "login"}
              %h2
                %span
                  | Log-in |
              %div
                %center
                  = render '/devise/sessions/new'
                .clear
                  
            %li{:name => "signup"}
              %h2
                %span
                  | Sign-up |
              %div
                %center
                  = render '/myregistrations/new'                  

            %li{:name => "signup as athlete"}
              %h2
                %span
                  | Sign-up as Athlete |
              %div
                %center
                  = render '/myregistrations/athlete'
            %li{:name => "others"}
              %h2
                %span
                  | Others |
              %div
                %center
                  = yield
    %footer.footer
      .center &copy; #{Time.now.year} teamRUN (Cola, Loyola, Pineda, Santos)

    :javascript
      (function($) {
      $('#slider').liteAccordion({"theme":"basic", linkable : true, "easing":"swing","containerHeight":500,"rounded":false});
      })(jQuery);
